<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DreamyKitchenCRM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Password=mavros1!;Persist Security Info=True;User ID=sa;Initial Catalog=DreamyKitchen;Data Source=BLACKMOON-PC;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DreamyKitchenCRM.My.MySettings.DreamyKitchenConnectionStringRemotely" connectionString="Data Source=10.10.5.7,1433;Initial Catalog=DreamyKitchen;Persist Security Info=True;User ID=sa;Password=Dr3@mySA;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <DreamyKitchenCRM.My.MySettings>
      <setting name="Records" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CurrentView" serializeAs="String">
        <value />
      </setting>
      <setting name="frmUsers" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmMailSettings" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmPermissions" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="UNSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UN" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="frmGen" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmCustomers" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmCusMov" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="CRM_PATH" serializeAs="String">
        <value>\\10.10.5.5\crm\</value>
      </setting>
      <setting name="frmNotes" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="SERVER_PATH" serializeAs="String">
        <value>\\10.10.5.7\TempCrm\</value>
      </setting>
      <setting name="ExeVer" serializeAs="String">
        <value>1.0.0.5</value>
      </setting>
      <setting name="DbVer" serializeAs="String">
        <value>1.0.0.5</value>
      </setting>
      <setting name="frmDoorType" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmTecnicalSupport" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmEpendisis" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmServices" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmInstallations" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmTransactions" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmPersonalNote" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="SERVERVIEWS" serializeAs="String">
        <value>\\10.10.5.7\CrmViews\</value>
      </setting>
      <setting name="frmEmpPayroll" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmSalerTziroi" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmInstEllipse" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmSUP" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmBUY" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmSUPKal" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmSUPKalSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmSupInvoicesPayments" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </DreamyKitchenCRM.My.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>