<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DreamyKitchenCRM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Password=mavros1!;Persist Security Info=True;User ID=sa;Initial Catalog=DreamyKitchen;Data Source=BLACKMOON-PC;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="DreamyKitchenCRM.My.MySettings.DreamyKitchenConnectionString"
      connectionString="Password=Dr3@mySA;Persist Security Info=True;User ID=sa;Initial Catalog=DreamyKitchen;Data Source=10.10.5.7,1433;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="DreamyKitchenCRM.My.MySettings.DreamyKitchenConnectionStringLocal"
      connectionString="Password=Dr3@mySA;Persist Security Info=True;User ID=sa;Initial Catalog=DreamyKitchen;Data Source=10.10.5.7,1433;MultipleActiveResultSets=True" />
    <add name="DreamyKitchenCRM.My.MySettings.DreamyKitchenConnectionStringRemotely"
      connectionString="Password=Dr3@mySA;Persist Security Info=True;User ID=sa;Initial Catalog=DreamyKitchen;Data Source=10.10.5.7,1433;MultipleActiveResultSets=True" />
  </connectionStrings>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <userSettings>
    <DreamyKitchenCRM.My.MySettings>
      <setting name="Records" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CurrentView" serializeAs="String">
        <value />
      </setting>
      <setting name="frmUsers" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmMailSettings" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmPermissions" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="UNSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UN" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="frmGen" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmCustomers" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmCusMov" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="CRM_PATH" serializeAs="String">
        <value>\\10.10.5.5\crm\</value>
      </setting>
      <setting name="frmNotes" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="SERVER_PATH" serializeAs="String">
        <value>\\10.10.5.7\TempCrm\</value>
      </setting>
      <setting name="ExeVer" serializeAs="String">
        <value>1.0.0.5</value>
      </setting>
      <setting name="DbVer" serializeAs="String">
        <value>1.0.0.5</value>
      </setting>
      <setting name="frmDoorType" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmTecnicalSupport" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmEpendisis" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmServices" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmInstallations" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmTransactions" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmPersonalNote" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="SERVERVIEWS" serializeAs="String">
        <value>\\10.10.5.7\CrmViews\</value>
      </setting>
      <setting name="frmEmpPayroll" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </DreamyKitchenCRM.My.MySettings>
  </userSettings>
</configuration>
